<ion-view title="{{vm.params.city}}"
          id="weather-view">
    <ion-nav-buttons side="left">
        <button class="button button-clear"
                menu-toggle="left">
            <span class="icon ion-navicon"></span>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon"
                ng-click="vm.refresh()"><span class="icon ion-refresh"></span></button>
        <button class="button button-icon"
                ng-click="vm.showOptions()"><span class="icon ion-more"></span></button>
    </ion-nav-buttons>
    <ion-slide-box show-pager="true">
        <ion-slide>
            <div class="center has-header has-bottom">
                <h2 class="primary">{{vm.forecast.currently.temperature | number:0}}&deg;<span class="icon secondary"
                                                                                               ng-class="vm.forecast.currently.icon | icons"></span>
                </h2>

                <p class="bolder">{{vm.forecast.currently.summary}}</p>
                <h5>High:
                    <strong>{{vm.forecast.daily.data[0].temperatureMax | number:0}}&deg;</strong> at {{vm.forecast.daily.data[0].temperatureMaxTime | timezone:vm.forecast.timezone}}
                </h5>
                <h5>
                    Low:
                    <strong>{{vm.forecast.daily.data[0].temperatureMin | number:0}}&deg;</strong> at {{vm.forecast.daily.data[0].temperatureMinTime | timezone:vm.forecast.timezone}}
                </h5>
                <h5>Feels Like: <strong>{{vm.forecast.currently.apparentTemperature | number:0}}&deg;</strong></h5>
                <p>Wind: <strong>{{vm.forecast.currently.windSpeed | number:0}}</strong>
                    <span class="icon wind-icon ion-ios-arrow-thin-up"
                          ng-style="{transform: 'rotate(' + vm.forecast.currently.windBearing + 'deg)'}"></span>
                </p>
                <p>Pressure: <strong>{{vm.forecast.currently.pressure}}</strong></p>
                <p>Sunrise: <strong>{{vm.forecast.daily.data[0].sunriseTime | timezone:vm.forecast.timezone}}</strong>
                   Sunset: <strong>{{vm.forecast.daily.data[0].sunsetTime | timezone:vm.forecast.timezone}}</strong></p>
                <h4 class="padding bolder">{{vm.forecast.hourly.summary}}</h4>
            </div>
            <div class="fixed-outside">
                Updated {{vm.lastTimeRefreshed | date: 'short'}}
            </div>
        </ion-slide>

        <ion-slide class="second-view">
            <div class="has-header has-bottom">
                <h5 class="padding center">{{vm.forecast.daily.summary}}</h5>

                <div class="row">
                    <div class="col col-25"><h4>Date</h4></div>
                    <div class="col"><h4>Pptn</h4></div>
                    <div class="col"><h4>High</h4></div>
                    <div class="col"><h4>Low</h4></div>
                    <div class="col"><h4>Wind</h4></div>
                    <div class="col"><h4>P</h4></div>
                </div>
                <ion-list>
                    <div ng-repeat="day in vm.forecast.daily.data | limitTo:vm.settings.days"
                              ng-click="vm.toggleDay(day)"
                              ng-if="!$first">
                        <div class="row">
                            <div class="col col-25">{{day.time + '000' | date:'EEEE'}}</div>
                            <div class="col"><span class="icon weather-icon"
                                                   ng-class="day.icon | icons"></span><sup>{{(day.precipProbability * 100) | number:0}}</sup>
                            </div>
                            <div class="col">{{day.temperatureMax | number:0}}&deg;</div>
                            <div class="col">{{day.temperatureMin | number:0}}&deg;</div>
                            <div class="col">{{day.windSpeed | number:1}}
                                <span class="icon wind-icon ion-ios-arrow-thin-up"
                                      ng-style="{transform: 'rotate(' + day.windBearing + 'deg)'}"></span></div>
                            <div class="col">{{day.pressure | number:0}}</div>
                        </div>
                        <ion-item class="item-accordion"
                                  ng-show="vm.isDayExpanded(day)">{{vm.shownDay.summary}}
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </ion-slide>

        <ion-slide ng-if="vm.forecast.alerts">
            <ion-content>
                <div class="card"
                     ng-repeat="alert in vm.forecast.alerts">
                    <div class="item item-divider item-assertive title">{{alert.title}}</div>
                    <div class="item item-text-wrap">
                        {{alert.description}}
                    </div>
                    <div class="item item-divider">
                        Expires: {{alert.expires | timezone:vm.forecast.timezone}}
                    </div>
                </div>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</ion-view>