/* Empty. Add your own CSS if you like */

#weather-view .icon:before {
    padding-right: 5px;
}

#weather-view .row + .row {
    margin-top: 0;
    padding-top: 5px;
}

#weather-view .second-view ion-list>div.list>div:nth-of-type(odd) {
    background: #fafafa;
}

#weather-view .second-view ion-list>div.list>div:nth-of-type(even) {
    background: #f3f3f3;
}

#weather-view .wind-icon {
    display: inline-block;
}

#weather-view .second-view .weather-icon {
    font-size: 20px;
}

#weather-view .second-view div.col {
    /* top right bottom left */
    padding: 3px 1px 3px 5px;
}

#weather-view .center {
    text-align: center;
}

#weather-view .primary {
    margin: 0;
    font-size: 110px;
    font-weight: lighter;
}

#weather-view .secondary {
    font-size: 130px;
}

.item-assertive {
    border-color: #e42012;
    background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    color: #fff;
}

.item-assertive .title {
    color: #fff;
}

#weather-view .slider {
    height: 100%;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

/* bolder text for daily forecast */
.bolder {
    font-weight: bolder;
}

/* second list should have relative position */
#settingsView ion-list:nth-child(2n) {
    position: relative;
}

/* custom footer */
.fixed-outside{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align:center;
    font-size: 0.8em;
}

/* notifies content about custom footer so it provides corresponding height */
.has-bottom{
    bottom:20px !important;
}

/* Fixes issue with scroll bars in prompt view */
div.popup div.popup-body {
    overflow: auto;
}

/* fixes issue with vertical scroll bar on weather second view */
.second-view .overflow-scroll .scroll {
    height: inherit;
}

/* Animation related CSS */
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 5px 10px;
    background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}
/* end Animation related CSS */