/* Empty. Add your own CSS if you like */

.scroll-page .icon:before {
    padding-right: 5px;
}

.scroll-page .row + .row {
    margin-top: 0;
    padding-top: 5px;
}

.scroll-page .row:nth-of-type(odd) {
    background: #fafafa;
}

.scroll-page .row:nth-of-type(even) {
    background: #f3f3f3;
}

.scroll-page .wind-icon {
    display: inline-block;
}

.scroll-page.center {
    text-align: center;
}

.scroll-page .primary {
    margin: 0;
    font-size: 100px;
    font-weight: lighter;
    padding-left: 30px;
}

.scroll-page .secondary {
    margin-bottom: 0;
    margin-top: -20px;
    padding-top: 0;
    font-size: 125px;
    font-weight: lighter;
}

.scroll-page .has-header {
    position: relative;
}

.item-assertive {
    border-color: #e42012;
    background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    color: #fff;
}

.item-assertive .title {
    color: #fff;
}

/*div.has-header > p {*/
/*padding-left: 10px;*/
/*padding-right: 10px;*/
/*word-wrap: break-word;*/
/*}*/