<ion-view title="{{::vm.title}}">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">Units</ion-item>
            <ion-radio ng-model="vm.settings.units"
                       ng-value="'si'">Metric (Celsius)
            </ion-radio>
            <ion-radio ng-model="vm.settings.units"
                       ng-value="'us'">Imperial (Fahrenheit)
            </ion-radio>
            <div class="item item-divider">Days in Forecast
                <span class="badge badge-dark">{{vm.settings.days - 1}}</span></div>
            <div class="item range range-positive">
                1 <input name="days"
                         ng-model="vm.settings.days"
                         min="2"
                         max="8"
                         value="8"
                         type="range"/> 7
            </div>
            <div ng-if="vm.locations.length > 0"
                 class="item item-button-right">Favorites
                <button class="button button-small"
                        ng-click="vm.canDelete = !vm.canDelete">{{(vm.canDelete) ? 'Done' : 'Edit'}}
                </button>
            </div>
        </ion-list>
        <ion-list show-delete="vm.canDelete">
            <ion-item ng-repeat="location in vm.locations">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="vm.remove($index)"></ion-delete-button>
                {{location.city}}
            </ion-item>
        </ion-list>
        <p class="padding">Weather data provided by
            <a href="https://developer.forecast.io/docs/v2">Forecast.io</a> and geocoding powered by
            <a href="https://developers.google.com/maps/documentation/geocoding/">Google</a></p>
    </ion-content>
</ion-view>