<ion-view title="{{::vm.title}}"
          id="settingsView">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">Units</ion-item>
            <ion-radio ng-model="vm.settings.units"
                       ng-value="'si'">Metric (Celsius)
            </ion-radio>
            <ion-radio ng-model="vm.settings.units"
                       ng-value="'us'">Imperial (Fahrenheit)
            </ion-radio>
            <div class="item item-divider">Days in Forecast
                <span class="badge badge-dark">{{vm.settings.days - 1}}</span></div>
            <div class="item range range-positive">
                1 <input name="days"
                         ng-model="vm.settings.days"
                         min="2"
                         max="8"
                         value="8"
                         type="range"/> 7
            </div>
            <div class="bar bar-stable"
                 ng-if="vm.locations.length > 0">
                <button class="button button-icon icon ion-ios-minus-outline"
                        ng-click="vm.showDelete = !vm.showDelete; vm.showReorder = false;"></button>
                <span class="title">Favorites</span>
                <button ng-if="vm.locations.length > 1"
                        class="button"
                        ng-click="vm.showDelete = false; vm.showReorder = !vm.showReorder;">Reorder
                </button>
            </div>
        </ion-list>
        <ion-list class="has-header"
                  show-delete="vm.showDelete"
                  show-reorder="vm.showReorder">
            <ion-item ng-repeat="location in vm.locations">
                {{location.city}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="vm.removeLocation(location)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="vm.moveLocation(location, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>